*{
	margin: 0;
	padding: 0;
	font-family:"Microsoft Yahei"; 
}
img{
	border: none;
}
a{
	text-decoration: none;
}
input{
	border: none;
}
*:focus {
	outline:none;
}
li{list-style: none;}
	
input:focus{cursor: pointer;}
#clear{
	clear: both;
}



/*******************页面头部开始******************/
#header{
	width: 100%;
	height: 60px;
	background: #37A9E5;
	position: relative;
}
#header .logo{
	width: 35px;
	height: 35px;
	background:url(../img/small_pic.png) no-repeat 0 -40px ;
	position: absolute;
	top: 50%;
	margin-top: -16px;
	left: 50px;
}
#header .h_right{
	width: 375px;
	height: 32px;
	position: absolute;
	top:50%;
	margin-top: -16px;
	right: 90px;
	
}
#header .h_right .serach_box{
	width: 310px;
	height: 30px;
	background: #ffffff;
	position: absolute;
	top: 0;
	left: 0;
	border: 1px solid #cccccc;
	border-radius:20px;
}

#header .h_right .serach_box .sub{
	width:18px;
	height: 18px;
	background: url(../img/small_pic.png) no-repeat -59px -49px; 
	position: absolute;
	top: 50%;
	margin-top: -9px;
	left: 20px;
}
#header .h_right .serach_box .txt{
	width: 250px;
	height: 30px;
	border-radius:20px;
	margin-left: 40px;
}
#header .h_right a {
	font-size: 14px;
	font-weight: bolder;
	color: #ffffff; 
}
#header .h_right ul{
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -9px;
}
#header .h_right ul li{
	float: right;
}
#header .h_right ul .login{
	width: 22px;
	height: 18px;
	background: red;
	background: url(../img/small_pic.png) no-repeat -85px -49px; 
}

/*******************页面头部结束******************/
/*******************主要内容开始****************/
#content{
	width: 100%;
	min-width: 1280px;
	height: 1266px;
	background: #E9EDEC;
}
	/******************主要内容左侧开始************************/
#con_left{
	width: 260px;
	height: 100%;
	background: #2B2F3D;
	float: left;
	color: #ffffff;
	overflow: hidden;
}
#con_left .ul_out >li{
	padding-left: 45px;	
	width: 100%;
	font-size: 12px;
	color: #546A92;
	font-weight: bold;
}
#con_left .ul_out .u_first{
	height: 150px;	
	padding-top:1px; 
	
}
#con_left .ul_out .u_first .f_top{
	width: 100%;
	height: 58px;
	margin-top: 15px;
	position: relative;
}
#con_left .ul_out .u_first .f_top .circle_out{
	width: 56px;
	height: 56px;
	border: 1px solid #A0A3B0;
	border-radius: 100%;
}
#con_left .ul_out .u_first .f_top .circle_in{
	width: 48px;
	height: 48px;
	border-radius: 100%;
	background: #A0A3B0;
	margin: 4px;
}
#con_left .ul_out .u_first .f_top span{
	font-size: 16px;
	color: #A0A3B0;
	font-weight: bolder;
	position: absolute;
	top: 50%;
	margin-top: -10px;
	left: 70px;
}
#con_left .ul_out .u_first .f_last{
	margin-top:25px;
}
#con_left .ul_out .u_first .f_last span{
	float: left;
	font-size: 14px;
	color: #586D94;
	font-weight: bolder;
	margin-left: 20px;
	margin-right: 20px;
	display: block;
	height: 32px;
}
#con_left .ul_out .u_first .f_last .s_md{
	border-left: 1px solid #586D94;
}

#con_left .ul_out li>p{
	line-height: 35px;
	position: relative;	
}
#con_left .ul_out li>p span{
	display: inline-block;
	width: 15px;
	height: 15px;
	margin-right: 20px;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -7px;
}
#p_report{
	background: #222B52;
}
#p_report .rep_ul>li{
	line-height: 28px;
	padding-left: 35px;
}
#p_report p{
	color: #DCEAFF;
}
#p_report .report_t{
	line-height: 35px;
	position: relative;
}
#p_report .report_t>span{
	
	background: url(../img/small_pic.png) no-repeat -0px -90px;
	
}
#p_report .rep_ul>li>span{
	display: inline-block;
	width: 15px;
	height: 15px;	
}
#p_report .rep_ul .file>span{
	display: inline-block;
	width: 15px;
	height: 15px;
	
}
#p_report .rep_ul .file .sp_f{
	background: url(../img/small_pic.png) no-repeat -62px -113px;
}
#p_report .rep_ul .file .sp_l{
	background: url(../img/small_pic.png) no-repeat -45px -84px;
}
#p_report .rep_ul .file .file_ul>li{
	padding-left: 30px;
	position: relative;
}
#p_report .rep_ul .file .file_ul>li>span{
	position: absolute;
	top: 8px;
	left:35px;
	width: 15px;
	height: 15px;
	background: url(../img/small_pic.png) no-repeat -0px -107px;
}
#p_report .rep_ul .file .file_ul .focus{
	color: #DCEAFF;
}
#p_report .rep_ul .re_f{
	background: url(../img/small_pic.png) no-repeat -32px -85px;
}
#p_report .rep_ul .re_l{
	background: url(../img/small_pic.png) no-repeat -18px -85px;
}

#con_left .ul_out .store_t span{
	background: url(../img/small_pic.png) no-repeat -75px -89px;
}
#con_left .ul_out .share_t span{
	background: url(../img/small_pic.png) no-repeat -110px -88px;
}
#con_left .ul_out .pic_t span{
	background: url(../img/small_pic.png) no-repeat -75px -89px;
}
#con_left .ul_out .record_t span{
	background: url(../img/small_pic.png) no-repeat -75px -89px;
}
#con_left .ul_out .mess_t span{
	background: url(../img/small_pic.png) no-repeat -91px -91px;
}

/******************主要内容左侧结束************************/
#con_right{
	height: 1266px;	
	margin-left: 260px;
	margin-right: 0px;
}
#con_right .r_header{
	width: 100%;
	height: 35px;
	background: #ffffff;

}
#con_right .r_header ul{
	line-height: 35px;
	margin-left: 30px;
}
#con_right .r_header ul li{
	float: left;
	font:12px;
	font-weight: bold;
	color: #AFB8B5;
	margin-right: 8px;
}
#con_right .r_header ul .last{
	color:#A9D8EA;
}
#r_con{
	width: 890px;
	height: 1000px;
	float: right;
	margin-top: 20px;
	margin-right: 90px;
}
#r_con .c_search{
	width: 830px;
	height: 59px;
	border: 1px solid #DBDDDC;
	padding: 13px 30px;
	background: #ffffff;
}
#r_con .c_search ul{
	font: 12px;
	color: #B8C2C4;
}

#r_con .c_search ul li{
	line-height: 29px;
	float: left;
	margin-right: 25px;
}
#r_con .c_search ul li select{
	border: 1px solid #AAAAAA;
	height: 25px; 
} 
#r_con .c_search ul li input{
	border: 1px solid #AAAAAA;
	height: 25px; 
}
#r_con .c_search ul .s_term select{
	width: 70px;
}
#r_con .c_search ul .s_bs select{
	width: 115px;
}
#r_con .c_search ul .s_date .date{
	width: 120px;
}
#r_con .c_search ul .s_date .time_g{
	width: 70px;
}
#r_con .c_search ul .s_date .man_n{
	width: 70px;
}
#r_con .c_search ul .s_date .sec{
	width: 122px;
}
#r_con .c_search ul .s_ser{
	line-height: 59px;
}
#r_con .c_search ul .s_ser input{
	border: none;
	width: 50px;				
	height: 25px;
	background: #3EA7E9;
	border-radius: 2px;
	font-size: 12px;
	color: #ffffff;
	font-weight: bold;
}
#r_con .h_ul{
	height: 66px;
	width: 100%;
	margin-top: 10px;
	overflow: hidden;
}
#r_con .h_ul>li{
	float: left;
	width: 86px;
	height: 61px;
	padding-left:20px;
	padding-top: 5px;
	border-top:1px solid #D6D8D7;
	border-left:1px solid #D6D8D7;
	background: #FEFEFE;
	margin-left: 5px;
	font-size: 16px;
	color:#A8B7BA;
	line-height: 25px;
}
#r_con .h_ul .first{
	width: 30px;
	height: 100%;
	border-top:1px solid #D6D8D7;
	border-left:1px solid #D6D8D7;
	margin-left: 0;
	padding: 0;
}
#r_con .h_ul .eight{
	width: 30px;
	height: 100%;
	border-top:1px solid #D6D8D7;
	border-left:1px solid #D6D8D7;
	padding: 0;
	background: url(../img/righticon.gif)white center center no-repeat;
	cursor: pointer;
}
#r_con .h_ul .nine{
	background: url(../img/data.gif) white 15% center no-repeat;
	width: 125px;
	 
}
#r_con .h_ul .nine p{
	font-size: 12px;
	font-weight: normal;
	color: #535353;
	font-family: "Microsoft yahei";
	margin-left:40px;
	line-height: 56px;
}
#r_con .h_ul .first{
	background: url(../img/lefticon.gif) white center center no-repeat;
	cursor: pointer;
}
#r_con .h_ul .second{
	border-top: 4px solid #539EF1;	
}
#r_con .h_ul>li span:first-child{
	color: #000000;
	font-size: 14px;
}
#r_con .h_ul>li span:last-child{
	color: #F63E0C;
	font-size: 24px;
}

#r_con  .sta{
	margin-top: 15px;
}
#r_con  .sta>ul{
	width: 100%;
	height:70px;
	margin-top: 5px;
} 
#r_con  .sta>ul>li{
	float: left;
	width: 200px;
	height: 70px;
	border: 1px solid #CFCED3;
	border-left: 4px solid #51F28B;
	margin-left: 23px;
}
#r_con  .sta>ul>li:first-child{
	width: 201px;
	border-left: 4px solid #51F28B;
	margin-left: 0px;
}
#r_con  .sta>ul .second{
	border-left: 4px solid #3FA6E8;
}
#r_con  .sta>ul .third{
	border-left: 4px solid #D42A33;	
}
#r_con  .sta>ul .last{
	border-left: 4px solid #D8D232;	
}
#r_con  .sta>ul>li {
	color: #A6B2AE;
	font-size: 12px;
	font-weight: bold;
	position: relative;
}
#r_con  .sta>ul>li span{
	position: absolute;
}
#r_con  .sta>ul>li span:first-child{
	font-size: 14px;
	font-weight: bolder;
	color: #000000;
	left: 10px;
	top: 15px;
}
#r_con  .sta>ul>li .s_n{
	position: absolute;
	left: 10px;
	top: 40px;
}
#r_con  .sta>ul>li>div{
	width: 60px;
	height: 45px;
	position: absolute;
	top: 13px;
	right: 15px;
}
#r_con  .sta>ul>li .fir{
	background: #51F28B;
}
#r_con  .sta>ul>li .sec{
	background: #3FA6E8;
}
#r_con  .sta>ul>li .thi{
	background: #D42A33;
}
#r_con  .sta>ul>li .las{
	background: #D8D232;
}
#r_con .f_term{
	width: 100%;
	height: 357px;
	margin-top: 15px;
}
#term_l{
	width: 530px;
	height: 355px;
	float: left;
	border: 1px solid #CBCCD0;
	border-radius: 5px;
	background: #FEFEFE;
	overflow: hidden;
}
#r_con .f_term .t_top{
	height: 39px;
	width:100%;
	border-radius-top: 5px;
	background: #F1F6F9;
	border-bottom: 1px solid #E4E9EC;
}
#r_con .f_term .t_top h5{
	line-height: 39px;
	padding-left:20px;
}
#term_l .center{
	width: 490px;
	height: 278px;
	margin: 0 auto;
	margin-top: 10px;
} 
#term_l .center .u_title{
	width: 100%;
	height:27px;
}
#term_l .center .u_title>li{
	float: left;
	line-height: 25px;
	border: 1px solid #E8EDF1;
	background: #E8EDF1;
	color: #414649;
	font-size: 12px;
	font-weight: bold;
	padding:0 22px;
	margin-left: 5px;
	border-radius: 2px;
	position: relative;
}
#term_l .center .u_title>li:first-child{
	margin-left: 0;
	border: 1px solid #B4B4B4;
	background:#FEFEFE;
	height:28px;
	border-bottom: none;  
}
#term_l .center .co_box{
	width: 488px;
	height: 250px;
	border: 1px solid #B4B4B4;
	border-radius: 4px;
	border-top-left-radius: 0;
}
#term_l .center .co_box table{
	border-top: 1px solid #C3C3C3;
	border-left: 1px solid #C3C3C3;
	margin: 30px auto;
}
#term_l .center .co_box table td{
	font-size: 12px;
	color: #585F61;
	border-bottom: 1px solid #C3C3C3;
	border-right: 1px solid #C3C3C3;
	padding-left: 15px;
	line-height: 28px;
	width: 100px;
	font-weight: bold;
}
#term_l .center .co_box table tr:first-child td:first-child{
	background: #F2F6F5;
	color: 
}
#term_r{
	width:350px;
	height: 355px;
	float: right;
	border: 1px solid #CBCCD0;
	border-radius: 5px;
	background: #FEFEFE;
	overflow: hidden; 
}
#term_r .form{
	width:310px;
	padding-left: 40px; 
	margin-top: 15px;
}
#term_r .form>h5{
	color: #CFD3D6;
}
#term_r .form .term_third{
	font-size: 14px;
	font-weight: bold;
	line-height: 30px;
}
#term_r .form .out_box{
	width: 100%;
	height: 48px;
	border-top: 1px solid #E7E7E7;
	border-bottom: 1px solid #E7E7E7;
	overflow: hidden;
}
#term_r .form .out_box>div{
	font-size: 14px;
	font-weight: bold;
	line-height: 24px;
	color:#B2BBB8; 
}
#term_r .form .out_box .first{
	width: 30%;
	border-right: 1px solid #E7E7E7;
	float: left;	
}
#term_r .form>div span{
	color: #525755;
}
#term_r .form .out_box .last{
	float: left;
	width: 50%;
	padding-left: 15px;
}
#term_r .form .describe{
	font-size: 14px;
	color: #C9D3D4;
	font-weight: bold;
	line-height: 30px;
}
#term_r .form textarea{
	resize: none;
	width: 280px;
	height: 100px;
	border: none;
	border-bottom: 1px solid #E7E7E7;
}
#term_r .form .l_sear{
	width: 100%;
	line-height: 25px;
	margin-top: 10px;
	position: relative;
}
#term_r .form .l_sear .agree{
	font-size: 12px;
	font-weight: bold;
	color: #CAD0CE;
}
#term_r .form .l_sear .check{
	height: 14px;
	width: 14px;
	position: relative;
	top: 4px;

}
#term_r .form .l_sear .search{
	width: 50px;
	height: 25px;
	color: #ffffff;
	background: #388BC1;
	border-radius: 5px;
	position: absolute;
	right: 30px;
}
#r_con .last_box{
	width: 100%;
	height: 357px;
	margin-top: 20px;
}
#r_con .last_box>div{
	height: 355px;
	border: 1px solid #CBCCD0;
	border-radius: 5px;
	background: #FEFEFE;
	overflow: hidden; 
}
#calender{	
	width: 350px;	
	float: left;
}
#brand{
	width: 530px;
	float: right;
}
#r_con .last_box>div .t_top{
	height: 39px;
	width:100%;
	border-radius-top: 5px;
	background: #F1F6F9;
	border-bottom: 1px solid #E4E9EC;
}
#r_con .last_box>div .t_top h5{
	line-height: 39px;
	padding-left:20px;
}
#calender .cal_content{
	width: 310px;
	margin: 10px auto;
}
#calender .cal_content table{
	font-size: 12px;
	border-top: 2px solid #A8CFEC;
	width: 100%;
}
#calender .cal_content table tr td{
	width: 15%;
	height: 40px;
	text-align: center;
	font-family: "黑体";

}
#calender .cal_content table tr:first-child td{
	border-bottom: 2px solid #E1E1E1;
}
#calender .cal_content table td p{
	text-align: center;
}
#calender .cal_content table .weekend{
	color: red;
}
#calender .cal_content table .weekend > p{
	color: black;
}
#calender .cal_content table .festival > p{
	color: red;
}
#calender .cal_content table .date{
	border: 1px solid #F7D564;
}
#calender .returntoday{
	width: 60px;
	height: 20px;
	background-color:white;
	border: 1px solid #999; 
}
#calender .choose{
	margin-bottom: 10px;
}
#calender .choose .sec:nth-child(1){
	width: 70px;
	height: 20px;
}
#calender .choose .sec:nth-child(2){
	width: 80px;
	height: 20px;
	padding-left: 20px;
}

#calender .choose .sec:nth-child(3){
	width: 80px;
	height: 20px;
}
#brand table{
	font-size: 14px;
	line-height: 25px;
	margin: 10px auto;
	border-top: 1px solid #CBCBCB;
	border-left: 1px solid #CBCBCB;
	color: #494949;
}
#brand table tr.active {
	line-height: 27px;
	background-color:#F4F5F6; 
}
#brand table tr.active td:nth-child(2){
	background:url(../img/hand.gif)  60px center no-repeat;
}
#brand table tr:first-child td{
	color: #000000;
}
#brand table tr td{
	padding: 0 25px;
	text-align: center;
	border-bottom: 1px solid #CBCBCB;
	border-right: 1px solid #CBCBCB;
}
#brand table tr td:last-child {
	text-align: left;
	position: relative;
	width: 68%;
}
#brand table tr td:last-child .out{
	position: absolute;
	width:65%;
	height: 5px;
	background: #DCDCDC;
	right: 20px;
	top: 50%;
	margin-top: -2px;
}
#brand table tr td:last-child .out .in{
	position: absolute;
	left: 0;
	top: 0;
	width: 70%;
	height: 100%;
	background: red;
}
#brand table tr td:last-child .out .one{
	width: 90%;
	background: #EE6E51;
}
#brand table tr td:last-child .out .two{
	width: 85%;
	background: #EF8150;
}
#brand table tr td:last-child .out .third{
	width: 80%;
	background: #F19E50;
}
#brand table tr td:last-child .out .four{
	width: 75%;
	background: #7FCAF1;
}
#brand table tr td:last-child .out .five{
	width: 65%;
	background: #7FCAF1;
}
#brand table tr td:last-child .out .six{
	width: 55%;
	background: #7FCAF1;
}
#brand table tr td:last-child .out .seven{
	width: 45%;
	background: #7FCAF1;
}
#brand table tr td:last-child .out .eight{
	width: 35%;
	background: #7FCAF1;
}
#brand table tr td:last-child .out .nine{
	width: 30%;
	background: #7FCAF1;
}
#brand table tr td:last-child .out .ten{
	width: 28%;
	background: #7FCAF1;
}
/*******************主要内容结束****************/
